.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: calc(1440px - 120px * 2);
  top: 50%;
  transform: translateY(-50%);
}
