.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 588px;
  margin-bottom: 24px;
}

.search {
  display: flex;
  width: 500px;
  gap: 8px;
  margin-bottom: 80px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFoundTitle {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 20px;
}

.notFoundDescription {
  color: rgb(118, 126, 148);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  max-width: 45ch;
}

.loading {
  display: flex;
  justify-content: center;
}

.loadingStatus {
  font-size: 2.25rem;
  color: var(--secondary-color);
}
