.item {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  padding: 8px;
  position: relative;

  border-radius: 12px;
  backdrop-filter: blur(80px);
  background-color: rgba(32, 40, 62, 0.8);
}

.link {
  text-decoration: none;
}

.name {
  color: rgb(235, 238, 245);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2%;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 8px;
}

.image {
  border-radius: 8px;
  max-width: 266px;
  max-height: 400px;
  object-fit: cover;
}

.rating {
  display: flex;

  border-radius: 8px;
  backdrop-filter: blur(8px);
  background-color: var(--rating-background-clr);

  color: var(--rating-text-clr);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  position: absolute;
  gap: 4px;
  align-items: center;
  margin: 8px;

  padding: 4px 8px;
}
