.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 16px;
  margin-bottom: 80px;
}

.links {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

.link {
  padding-inline: 16px;
  text-decoration: none;

  color: var(--link-text-clr);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
}

.link.active {
  color: var(--white-clr);
}
