:root {
    --primary-color: rgb(123, 110, 246);
    --secondary-color: rgb(235, 238, 245);
    --grey-color: rgb(142, 149, 169);
    --white-color: rgb(255, 255, 255);

    --button-color: rgba(123, 110, 246, 0.8);
    --input-border-color: rgb(50, 59, 84);
    --input-background-color: rgba(0, 0, 0, 0.1);

    --rating-background-color: rgba(0, 0, 0, 0.65);
    --rating-text-color: rgb(255, 189, 109);

    --link-text-color: rgb(168, 174, 191);

    --body-background-color: rgb(18, 24, 41);

    --font: "Poppins", sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--body-background-color);
}
